body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    font-family: Georgia, serif;
    font-size: 120%;
}

/* .mountain-img {
    width: 1080px;
    height: 720px;
} */
h1 {
    font-family: 'Sacramento', cursive;
    font-size: 5.265rem;
    color: #66BFBF;
    /* font size = px/16 
        100% = 16px = 1em
    */
}

a{
    color: #11999E;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

/* .top-inside{
    margin-right: 60%;
    position: relative;
    bottom: 60px;
    height: 90px;
} */

.personal-info{
    margin: 0px 20% 0px 20%;
}

.my-img{
    height: 300px;
    margin-top: 7%;
}

.skill-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.skill-img-boy{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
/* 
.using-clear{
    clear: left;
}

.using-clear-down{
    clear: right;
} */

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middle-container {

}

.bottom-container{

}


.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bootom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud {
}

